<app-sidebar></app-sidebar>
<div class="admin-container">
  <app-navigation></app-navigation>
  <ng-container *ngIf="products.length > 0; else noProducts">
    <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Product list</div>
          <div class="sales-details">
            <ul>
              <li class="topic">Name</li>
              <li *ngFor="let product of products" class="details dark-text">{{ product.name }}</li>
            </ul>
            <ul>
              <li class="topic">Price</li>
              <li *ngFor="let product of products" class="details dark-text">{{ product.price }}</li>
            </ul>
            <ul>
              <li class="topic">Weight</li>
              <li *ngFor="let product of products" class="details dark-text">{{ product.weight }}</li>
            </ul>
          </div>
          <div class="right-btn">
            <button class='primary-btn'>See all</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noProducts>
    <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Product list</div>
          <ul class="dark-text">
            <li>No products found.</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
