  <div class="footer-top">
    <div class="container">
      <div class="four-col-grid">
        <div class="footer-widget">
          <img class="logo-img" src="https://i.pinimg.com/564x/6f/3d/a8/6f3da805c958e070832a18aec0454ea2.jpg" alt="">
        </div>
        <div class="footer-widget">
          <h4 class="h3">The Lavender Cafe</h4>
          <ul>
            <li><a class="h5">Home</a></li>
            <li><a class="h5">Menu</a></li>
            <li><a class="h5">About</a></li>
            <li><a class="h5">Contact</a></li>
            <li><a class="h5">Profile</a></li>
            <li><a class="h5">Log in</a></li>
          </ul>
        </div>
        <div class="footer-widget">
          <h4 class="h3">Follow us:</h4>
          <ul class="social-nav">
            <li>
              <a href="https://www.instagram.com/khrystyna_dol" class="social-nav-link" target="_blank">
                <img class="social-icon" src="https://i.pinimg.com/564x/06/34/a5/0634a5babf36db50e415356b348e3f30.jpg" alt="The Lavender Cafe - Instagram">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/hrystyna.dol" class="nav-link" target="_blank">
                <img class="social-icon" src="https://i.pinimg.com/564x/f2/1b/03/f21b03e7296df72cdace8f768511c2b7.jpg" alt="The Lavender Cafe - Facebook">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="simple-text h6">© Copyright 2023 The Lavender Cafe. All rights reserved. Designed by Khrystyna Dolynska</p>
  </div>
