@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/simple-brush-script");
/* Variables for colors */
/* Variables for fonts */
/* Variables for font-sizes */
/* PROPERTIES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Poppins", sans-serif;
  color: #8357E8;
  background-color: rgb(253, 255, 240);
  line-height: 1.8;
  font-size: 16px;
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 550;
  color: #8357E8;
  line-height: 1.2;
  margin-bottom: 10px;
}

.h1 {
  font-size: 54px;
}

.h2 {
  font-size: 36px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 18px;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 38px;
  }
  .h2 {
    font-size: 32px;
  }
  .h3 {
    font-size: 24px;
  }
  .h4 {
    font-size: 20px;
  }
  .h5 {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 28px;
  }
  .h3 {
    font-size: 20px;
  }
  .h4 {
    font-size: 16px;
  }
  .h5 {
    font-size: 14px;
  }
}
.secondary-font {
  font: "Brush Script MT", sans-serif;
  font-weight: 500;
  color: #FDFFEF;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  color: #FDFFEF;
}

img {
  width: 100%;
}

/* Button settings */
.primary-btn {
  padding: 12px 28px;
  display: inline-block;
  color: #FDFFEF;
  background-color: #8357E8;
  border: 2px solid #8357E8;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  margin: 15px 5px 10px;
}

.primary-btn:hover {
  color: #FDFFEF;
  transform: translateY(3px);
  box-shadow: none;
}

.secondary-btn {
  border-color: #FDFFEF;
  background-color: transparent;
}

.secondary-btn:hover {
  background-color: rgb(253, 255, 240);
  color: #8357E8;
}

.red-btn {
  color: #E32626;
  border-color: #E32626;
  background-color: rgb(253, 255, 240);
  padding: 12px 10px;
}

.red-btn:hover {
  background-color: #E32626;
  color: #FDFFEF;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-btn {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ingredient-btn {
  margin-right: 200px;
}

@media (max-width: 584px) {
  .ingredient-btn {
    margin-right: 100px;
  }
}
.no-border {
  border: none;
}

.no-border:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #FDFFEF;
}

.input-field {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #FDFFEF;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 19px;
  border-bottom: 1px solid #FDFFEF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input-form:focus {
  outline: none;
  border-color: #FDFFEF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.form-content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.form-window {
  z-index: 100;
  color: #FDFFEF;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: #FDFFEF;
  background: url("https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823") top left no-repeat;
}

.form-welcome {
  font-weight: 200;
  margin-top: 40px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0;
}

.form-highlight {
  color: #8357E8;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.2s ease;
}

.form-highlight:hover {
  color: #FDFFEF;
  transition: color 0.2s ease;
}

.form-spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: #8357E8;
}

.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
}

.form-bold-line {
  background: rgb(253, 255, 240);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity: 0.1;
  background: url("https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823") left no-repeat;
  background-size: cover;
}

/* OTHERS */
ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: center;
}

@media (max-width: 992px) {
  .two-col-grid {
    grid-template-columns: 1fr;
  }
}
.three-col-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: center;
}

@media (max-width: 992px) {
  .three-col-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .three-col-grid {
    grid-template-columns: 1fr;
  }
}
.four-col-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: center;
  margin-bottom: 20px;
}

.four-col-grid img {
  align-content: start;
}

@media (max-width: 992px) {
  .four-col-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .four-col-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
/* NAVBAR */
.navbar {
  /*background-color: #1A1818;*/
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #FDFFEF;
}

.colored-navbar {
  background-color: #c5b6e8;
}

@media (max-width: 768px) {
  .navbar {
    background-color: rgba(131, 87, 232, 0.35);
  }
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  flex: none;
  margin-top: 10px;
  margin-left: 5px;
}

.logo img {
  width: 55px;
  /*width: unset;*/
}

@media (max-width: 1240px) {
  .logo img {
    width: 50px;
    margin-top: 12px;
  }
  .logo p {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}
.cafe-name {
  font-family: "Brush Script MT", sans-serif;
  font-weight: 500;
  color: #FDFFEF;
  display: flex;
  align-items: center;
  margin-left: 20px;
  /*margin-top: 10px;*/
}

.nav-items {
  display: flex;
  transition: all 0.4s ease;
}

.nav-items .nav-item {
  color: #FDFFEF; /*rgba(253, 255, 239, 1.0)*/
  transition: all 0.4s ease;
  margin-left: 24px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.nav-items .nav-item:hover {
  color: #8357E8;
}

.nav-toggler {
  width: 54px;
  height: 54px;
  color: #FDFFEF;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  /*background-color: rgba(131, 87, 232, 0);*/
  font-size: 30px;
  transition: all 0.3s ease;
  display: none;
}

.nav-toggler:hover {
  background-color: #FDFFEF;
  color: #8357E8;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-items {
    position: absolute;
    background-color: rgba(131, 87, 232, 0.35);
    width: 100%;
    top: 100%;
    left: -100%;
    flex-direction: column;
    /*padding-top: 20px;*/
    padding: 15px;
  }
  .nav-items .nav-item {
    margin-top: 5px;
    display: block;
  }
  .nav-toggler {
    display: flex;
  }
  .show {
    left: 0;
  }
}
.slide {
  min-height: 100vh;
  background-image: url(./images/background_image_dark.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide p {
  font-family: "Brush Script MT", sans-serif;
  color: #FDFFEF;
  font-weight: 500;
  max-width: 700px;
  margin: 10px auto 10px;
}

/* ABOUT */
.simple-text {
  color: #484848;
}

/* CONTACT */
.contact-info {
  text-align: center;
  padding: 24px;
}

.contact-us {
  text-align: center;
}

/* FOOTER */
.footer-top {
  background-color: rgb(253, 255, 240);
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #8357E8;
  border-top: 1px solid #8357E8;
}

.footer-top .h4 {
  color: #8357E8;
}

.footer-top a {
  color: #484848;
}

.footer-top a:hover {
  color: #8357E8;
}

.footer-top img {
  width: 100px;
}

.logo-img {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .footer-top img {
    width: 80px;
  }
  .logo-img {
    margin-left: 25px;
  }
}
@media (max-width: 450px) {
  .logo-img {
    margin-left: 20px;
  }
  .footer-top img {
    width: 60px;
  }
}
.footer-widget {
  padding-left: 20px;
  padding-right: 20px;
}

.social-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social-icon {
  width: 25px !important;
  height: 25px !important;
  object-fit: contain;
  object-position: center;
  margin-right: 10px;
}

.footer-bottom {
  background-color: rgb(253, 255, 240);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-bottom p {
  margin: 0;
}

/* MENU */
.intro-text {
  max-width: 600px;
  margin: 50px auto 50px auto;
  text-align: center;
}

.menu-member .content {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 280px;
}

@media (max-width: 768px) {
  .menu-member .content {
    height: 350px;
  }
}
.menu-container {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.menu-description {
  font-size: 18px;
  color: #484848;
}

.hover-effect {
  transition: all 0.4s ease;
  border-bottom: 3px solid transparent;
}

.hover-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-bottom-color: #8357E8;
}

/* LOGIN */ /* REGISTRATION */
.form-overlay {
  background: linear-gradient(#8357E8, #c5b6e8);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}
/* PROFILE */
.profile-card {
  margin-top: 120px;
  margin-left: 100px;
  font-size: 28px;
  padding: 0 10px;
  width: 58%;
}

.profile-card h2 {
  color: #FDFFEF;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-card .card {
  background: linear-gradient(#8357E8, #c5b6e8);
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}

.profile-card .card table {
  border: none;
  font-size: 16px;
  height: 250px;
  width: 80%;
}

.edit {
  position: absolute;
  color: #FDFFEF;
  right: 38%;
}

.edit:hover {
  color: #8357E8;
}

tr {
  color: #FDFFEF;
}

.buttons {
  margin-bottom: 10px;
}

/* ADMIN */
/* Googlefont Poppins CDN Link */
.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #8357E8;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #FDFFEF;
  min-width: 60px;
  text-align: center;
}

.sidebar .logo-details .logo-name {
  color: #FDFFEF;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #8357E8;
}

.sidebar .nav-links li a:hover {
  background: #8357E8;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #FDFFEF;
}

.sidebar .nav-links li a .links-name {
  color: #FDFFEF;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log-out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #FDFFEF;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  top: 0;
  display: flex;
  justify-content: start;
  height: 80px;
  background: #FDFFEF;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: rgb(253, 255, 240);
  border: 2px solid #8357E8;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #8357E8;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #FDFFEF;
  font-size: 22px;
  transition: all 0.4s ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: rgb(253, 255, 240);
  border: 2px solid #FDFFEF;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin-name {
  font-size: 15px;
  font-weight: 500;
  color: #484848;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #484848;
}

.home-section .home-content {
  position: relative;
  padding-top: 26px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}

.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(25% - 15px);
  background: #FDFFEF;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #FDFFEF;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
  color: #2BD47D;
  background: #C0F2D8;
}

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 65%;
  background: #FDFFEF;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #484848;
  text-decoration: none;
}

.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sales-boxes .box .button a {
  padding: 4px 12px;
  color: #FDFFEF;
  background: #8357E8;
}

.sales-boxes .box .button a:hover {
  background: #8357E8;
}

/* Right box */
.home-content .sales-boxes .top-sales {
  width: 35%;
  background: #FDFFEF;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #484848 !important;
}

.sales-boxes .top-sales li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sales-boxes .top-sales li .product,
.price {
  font-size: 17px;
  font-weight: 400;
  color: #484848;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(50% - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin-name,
  nav .profile-details i {
    display: none;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 60px;
  }
  .home-section {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}
/* Add menu item */
.form-container {
  max-width: 750px;
  min-width: 350px;
  width: 50%;
  background: linear-gradient(#8357E8, #c5b6e8);
  padding: 30px;
  color: #FDFFEF;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.login-container {
  max-width: 550px;
  width: 30%;
}

.form-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.form-container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #8357E8, #c5b6e8);
}

.form-container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(50% - 20px);
}

form .user-details .input-box-login {
  margin-bottom: 15px;
  width: calc(70% - 20px);
  margin-right: 50px;
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #8357E8;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #8357E8;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: rgb(253, 255, 240);
  border-color: #8357E8;
}

form input[type=radio] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #FDFFEF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(#8357E8, #c5b6e8);
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(#8357E8, #c5b6e8);
}

.title-2 {
  font-size: 20px !important;
  font-weight: 300;
  position: relative;
  margin-right: 400px;
}

.title-2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #8357E8, #c5b6e8);
}

.ingredient .input-box {
  height: 100%;
  width: calc(100% - 15px) !important;
  margin-left: 0;
  padding-left: 0;
  margin-right: 150px !important;
}

@media (max-width: 584px) {
  .form-container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  .ingredient .input-box {
    width: 100% !important;
    margin-right: 10px !important;
  }
}
@media (max-width: 459px) {
  .form-container .content .category {
    flex-direction: column;
  }
}
/* Add menu item */
.upload-photo {
  margin-right: 200px;
}

@media (max-width: 584px) {
  .upload-photo {
    margin-right: 100px;
  }
}
.new-line {
  margin-right: 200px !important;
}

.upload-photo {
  margin-left: 10px;
}

/* User listing */
.home-content .user-boxes .top-user {
  width: 35%;
  background: #FDFFEF;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.user-boxes .top-user li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.user-boxes .top-user li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #484848 !important;
}

.user-boxes .top-user li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-boxes .top-user li .user_name,
.role {
  font-size: 17px;
  font-weight: 400;
  color: #484848 !important;
}

.sales-boxes a:-webkit-any-link {
  color: #484848;
}

.sales-boxes a:-webkit-any-link:hover {
  color: #8357E8;
}

/* Global styles */

/*# sourceMappingURL=styles.css.map */
