<app-client-navigation></app-client-navigation>

<div class="slide" id="home">
  <div class="container">
    <p class="secondary-font h2">Welcome to</p>
    <h1 class="h1">The Lavender Cafe</h1>
    <p class="secondary-font h2">"One cannot think well, love well, sleep well, if one has not dined well." - Virginia Woolf</p>
    <a routerLink="/menu" class="primary-btn">View menu</a>
    <a class="primary-btn secondary-btn">Contact Us</a>
  </div>
</div>

<app-client-about></app-client-about>
<app-client-contact></app-client-contact>
