<app-client-navigation></app-client-navigation>
<section id="menu">
  <div class="menu-container">
    <div class="intro-text">
      <h1 class="h2">Our Menu</h1>
    </div>
  </div>
<!--  <div class="four-col-grid">-->
<!--    <div class="menu-member hover-effect">-->
<!--      <img src="" alt="">-->
<!--      <div class="content">-->
<!--        <h4 class="h5">Lavender latte</h4>-->
<!--        <p class="simple-text h5">Enjoy a fragrant Lavender Latte made with freshly brewed espresso and lavender-infused milk.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="menu-member hover-effect">-->
<!--      <img src="" alt="">-->
<!--      <div class="content">-->
<!--        <h4 class="h5">Ice cream muffin</h4>-->
<!--        <p class="simple-text h5">Satisfy your sweet tooth with our Ice Cream Muffin, which features a warm, moist muffin topped with a scoop of creamy ice cream</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="menu-member hover-effect">-->
<!--      <img src="" alt="">-->
<!--      <div class="content">-->
<!--        <h4 class="h5">Caramel coffee</h4>-->
<!--        <p class="simple-text h5">Sip on our rich and smooth Caramel Coffee, made with freshly brewed coffee and a drizzle of sweet caramel.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="menu-member hover-effect">-->
<!--      <img src="" alt="">-->
<!--      <div class="content">-->
<!--        <h4 class="h5">Belgium waffle</h4>-->
<!--        <p class="simple-text h5">Indulge in our classic Belgium Waffle, served with a generous dollop of whipped cream and fresh berries.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</section>

