<div class="container navbar nav navbar-nav" [ngClass]="{'colored-navbar': isColoredPage()}">
<!--  <a href="#" class="logo">-->
  <p class="cafe-name h2 navbar-brand">The Lavender cafe</p>
  <ul class="nav-items navbar-right nav navbar-text">
    <li><a routerLink="/client" class="nav-item">Home</a></li>
    <li><a routerLink="/menu" class="nav-item">Menu</a></li>
    <li><a class="nav-item">About</a></li>
    <li><a class="nav-item">Contact</a></li>
    <li><a routerLink="/profile" class="nav-item">Profile</a></li>
  </ul>
  <div class="nav-toggler"><i class="ri-menu-fill"></i></div>
</div>
