<section id="contact">
  <div class="container">
    <div class="intro-text">
      <h1 class="contact-us">Get in touch</h1>
    </div>
    <div class="three-col-grid">
      <div class="contact-info hover-effect">
        <div class="icon-box">
          <i class="ri-phone-fill"></i>
        </div>
        <h6 class="h5">Call us:</h6>
        <span>(+38) 096 225 0511</span><br/>
        <span>(+38) 123 456 7890</span>
      </div>
      <div class="contact-info hover-effect">
        <div class="icon-box">
          <i class="ri-map-fill"></i>
        </div>
        <h6 class="h5">Location:</h6>
        <span>Market Square<br/>Lviv, Ukraine</span>
      </div>
      <div class="contact-info hover-effect">
        <div class="icon-box">
          <i class="ri-mail-fill"></i>
        </div>
        <h6 class="h5">Mail us:</h6>
        <span>info@lavender.com</span><br/>
        <span>hr@lavender.com</span>
      </div>
    </div>
  </div>
</section>
