<app-sidebar></app-sidebar>

<div class="admin-container">
  <app-navigation></app-navigation>
  <ng-container *ngIf="users.length > 0; else noCustoms">
    <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">User list</div>
          <div class="sales-details">
            <ul>
              <li class="topic">Name</li>
              <ng-container *ngFor="let user of users">
                <ul class="details dark-text">
                  <li>{{user.name}}</li>
                </ul>
              </ng-container>
            </ul>
            <ul>
              <li class="topic">Surname</li>
              <ng-container *ngFor="let user of users">
                <ul class="details dark-text">
                  <li>{{user.surname}}</li>
                </ul>
              </ng-container>
            </ul>
            <ul>
              <li class="topic">Email</li>
              <ng-container *ngFor="let user of users">
                <ul class="details dark-text">
                  <li>{{user.email}}</li>
                </ul>
              </ng-container>
            </ul>
            <ul>
              <li class="topic">Phone</li>
              <ng-container *ngFor="let user of users">
                <ul class="details dark-text">
                  <li>{{user.phone}}</li>
                </ul>
              </ng-container>
            </ul>
            <ul>
              <li class="topic">Role</li>
              <ng-container *ngFor="let user of users">
                <ul class="details dark-text">
                  <li>
                    <ng-container *ngIf="user.role === 'PersonStatus.manager'">manager</ng-container>
                    <ng-container *ngIf="user.role === 'PersonStatus.client'">client</ng-container>
                  </li>
                </ul>
              </ng-container>
            </ul>
          </div>
          <div class="right-btn"><button class='primary-btn'>See all</button></div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noCustoms>
    <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">User list</div>
          <ul class="dark-text">
            <li>No customs found.</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
