<section id="about">
  <div class="container">
    <div class="two-col-grid">
      <img src="https://i.pinimg.com/564x/05/48/3d/05483db24b0ccf71067426215c0bb7cc.jpg" alt="">
      <div class="content">
        <h2 class="h2">Some info about us</h2>
        <p class="simple-text h5">The Lavender Cafe is a charming addition to the city's culinary scene, having opened its doors in 2023. Located in a cozy corner of town, the cafe exudes an ambiance of peace and tranquility with its soft lavender decor and warm lighting.</p>
        <p class="simple-text h5">From the moment you step inside, you'll feel your worries melt away as you're enveloped in the comforting aroma of freshly brewed coffee and sweet treats.</p>
        <p class="simple-text h5">The menu features an array of delightful offerings, from the classic coffee and tea to artisanal pastries and cakes infused with the fragrant herb.</p>
      </div>
    </div>
  </div>
</section>
